/* Bootstrap Variables */
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$grid-gutter-width: 10px;
$container-large-desktop: (1014px + $grid-gutter-width);
$font-family-fantasy: "Urban Cowboy", "Old Times New Roman", Papyrus, fantasy;
$font-family-base: $font-family-fantasy;
